*{
    background-color: #f4e1c1;
}
h1 {
    text-align: center;
    color: #ff6f61;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
}
#click{
    background-color: #f0f0f0;
    font-size: 20px;
    color: black;
}
#button{
    display: flex;
    justify-content: center;
    position: relative;
    top: 150px;
}
#heads,#tails{
    position: absolute;
    width: 200px;
    height: 200px;
    backface-visibility: hidden; /* Hide back face when not facing */
    font-size: 24px;
    border: 1px solid silver;
    border-radius: 50%;
}
#heads{
    backface-visibility: hidden;
    background-image: url("Heads.jpg");
    background-size: cover;
    background-position: center;
}
#tails {
    background-image: url("Tails.jpg");
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
}
#twosides{
    position: relative;
    width: 200px;
    height: 100px;
    left: 650px;
    transition: transform 0.6s;
    transform-style:preserve-3d;
}
#coin:hover,#twosides{
    transform:rotatex(0deg);
}
#twosides{
    animation: normal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-duration: normal;
    animation-name: Flip;
}
#result{
    position: relative;
    top: 120px;
}